In [198]:
# Installing the necessary libaries
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import re

In [199]:
# Loading the SIS_faculty_list csv
df = pd.read_csv("SIS_faculty_list.csv")

In [200]:
# First observations of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 19 columns):
 #   Column                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                         --------------  -----
 0   ID                                                                                                                             282 non-null    object
 1   Name                                                                                                                           284 non-null    object
 2   Location                                                                                                                       270 non-null    object
 3   Grade                                                                                                                          284 non-null    object
 4   Title                                                                                                                          284 non-null    object
 5   Join
Date                                                                                                                      283 non-null    object
 6   LWD                                                                                                                            11 non-null     object
 7   Type                                                                                                                           284 non-null    object
 8   Divison                                                                                                                        284 non-null    object
 9   Reports To                                                                                                                     280 non-null    object
 10  Highest
Qualification
Level                                                                                                    278 non-null    object
 11  Highest Qualification                                                                                                          278 non-null    object
 12  Major                                                                                                                          262 non-null    object
 13  University                                                                                                                     278 non-null    object
 14  All Qualifications from Profile                                                                                                274 non-null    object
 15  Courses Taught- Term 201510                                                                                                    273 non-null    object
 16  MAJOR TEACHING FIELD                                                                                                           225 non-null    object
 17  DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications  222 non-null    object
 18  Criteria                                                                                                                       284 non-null    object
dtypes: object(19)
memory usage: 42.3+ KB

# **General Cleansing**

## Adjusting the Header Columns in CSV

In [201]:
# converting the column headers into lower case
df.columns = df.columns.str.lower()

# renaming column headers and changing to snake case
df = df.rename(columns = {'join\ndate':'join_date', 
                          'reports to':'reports_to',
                          'divison':'division',
                          'highest\nqualification\nlevel':'highest_qualification_level', 
                          'highest qualification':'qualification',
                          'courses taught- term 201510':'courses_taught_term_201510',
                          'document other professional certification critiera five years work experience teaching excellence professional certifications':'other_professional_certificate',
                          'major teaching field':'major_teaching_field'})

In [202]:
# Using For Loops to convert the values in the dataframe to upper case
loop = ['location','title', 'type', 'division', 'highest_qualification_level', 'major', 'university', 'criteria', 'major_teaching_field']
for value in loop:
    df[value] = df[value].str.upper()

In [203]:
# Converting the 'join_date' column into datetime
df["join_date"] = pd.to_datetime(df["join_date"])

In this code, we use the str.replace() method to replace all instances of 'Ph.D' (with or without a period) with 'Doctorate' in the 'Highest Qualification' column. The case=False argument is included to make the search case-insensitive, so we will match 'PhD', 'ph.d', 'Ph.d', and so on.

(the same except for the entire dataset).

In [204]:
# Using RegEx to remove all special characters and white spaces in the dataframe
regex = r'[^a-zA-Z0-9\s]+'
df = df.replace(to_replace=regex, value='', regex=True)

## **Dropping Data Columns**

ML models containing irrelevent or reundant data poses risk of overfitting. In this instance, the 'lwd' column only contained 11 instances that were not null and cannot be a reliable source for machine learning modelling. 'all qualifications from profile' and 'qualification' were dropped in effort to simplify the dataset.

In [205]:
# Removing 'LWD' due to ambiguity and limited data
# Removing 'all qualifications from profile' and 'qualification' for redundancy
df = df.drop(['lwd', 'all qualifications from profile', 'qualification'], axis=1)

## **Column-Specific Cleansing**

In [206]:
## id
# Removing any values not containing 'LT', with the assumption the ID column is the primary key.
df = df[df['id'].str.contains('LT', na=False)]

In [207]:
## title
# removing 'BUSINESS' from the "title" column to avoid redundancy using RegEx.
df['title'] = df['title'].str.replace(r'\bBUSINESS\b', '', regex=True)

# Cleaning individual rows the above code did not pick up.
df['title'] = df['title'].replace({'FACULTYBUSINESS HR ADMIN': 'FACULTY HR ADMIN', 
                                             'FACULTY COMP LIT FACULTY': 'FACULTY COMP LIT',
            'FACULTYBUSINESS'         : 'FACULTY'})

In [208]:
## courses_taught_term_201510
# removing programme titles outside of course code using RegEx. 
regex = r"\b([A-Z]{3}\d{4})\w*\b"
df['courses_taught_term_201510'] = df['courses_taught_term_201510'].str.findall(regex)

In [209]:
## university
# manual cleanup
df['university'] = df['university'].replace({'EBUSINESS POLICY DEVELOPMENT' : 'E BUSINESS POLICY DEVELOPMENT', 
                                             'INTEGRTD TEXTILE APPAREL SCI' : 'INTEGRATED TEXTILE APPAREL SCI'})

In [210]:
## major
# manual cleanup
df['major'] = df['major'].replace({'FRIEDRICHSCHILLERUNIV JENA': 'FRIEDRICH SCHILLER UNI JENA', 
                                   'UNIVERSITYOF KERALA'       : 'UNIVERSITY OF KERALA',
                                   'FACULTYBUSINESS'           : 'FACULTY'})

In [211]:
## major_teaching_field
# manual cleanup
df['major_teaching_field'] = df['major_teaching_field'].replace({'MANAGEMENT HRMMARKETING'                  :'MANAGEMENT HRM MARKETING',
                                                                 'BUSINESS MANAGEMENT\nCORPORATE GOVERNANCE':'BUSINESS MANAGEMENT CORPORATE GOVERNANCE',
                                                                 'BUSINESS ADMINISTRATION\nMARKETING'       :'BUSINESS ADMINISTRATION\nMARKETING'})

In [212]:
## highest_qualification_level
# standardising highest_qualification_level by removing values outside of PHD, DOCTORATE, MASTERS, BACHELOR
clean_qualifications = ['PHD', 'MASTERS', 'DOCTORATE', 'BACHELOR']
df['highest_qualification_level'] = df['highest_qualification_level'].str.upper().where(df['highest_qualification_level'].isin(clean_qualifications))

## **Addressing NaN Values**

Several solutions were considered to address the NaN values in the dataset, being:

1.   Mean, median, or mode.
2.   Dropping NaN rows.
3.   Creating a separate category as 'UNKNOWN' to preserve observations.

In [213]:
df = df.fillna('UNKNOWN')

In [214]:
# changing datapoints with no 'length to 'NO COURSE CODE'
df['courses_taught_term_201510'] = df['courses_taught_term_201510'].fillna('NO COURSE CODE')

In [215]:
## other_professional_certificate
# using regex to pull key words and numbers while preserving information
key_words = r'\b\d+\s+(?:years|months)|\bteaching|\btaught|\bexperience|\bindustry|\bprofessional|\bUNKNOWN|\bmanagement|\bCMA|\bGTC|\bLicensed Agriculturist|\bHCIMA CTHCM|\btraining|\bCert IV Australia PPC License|\bsemester|\bbusiness|\bMore than|\bcorporate|\beducation|\bcertificate|\bmember|\bhospitality|\bcertified\b'

# defining a function to pull the relevant string information 
def extract_info(string):
    matches = re.findall(key_words, string, flags=re.IGNORECASE)
    return ' '.join(matches)

# applying the function to the 'other_professional_certificate' column
df['other_professional_certificate'] = df['other_professional_certificate'].apply(extract_info)

# NOTE: the initial 'other_professional_certificate' column had 22.4% values as NaN which may compromise the ML algorithm.
# Worth having a discussion with relevent stakeholder due to pre-existing small sample size over uncertainty on whether to keep or remove.

In [216]:
## integer encoding
encoded_values = ['location', 'title', 'highest_qualification_level', 'criteria']

for col in encoded_values:
    encoder = LabelEncoder()
    df[col] = encoder.fit_transform(df[col])
    mapping = dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))
    print(f"Integer Encoding For {col}: {mapping}")

# One-hot encoding generates too many dimenions not suitable for ML purposes
# Considered integer encoding other columns, however, due to the unique values therefore will keep as string values
# Many solutions were considered or whether this step was necessary due to being able to categorise using decision trees or SVM, given the task is to preprocess the dataset suitable for ML

Integer Encoding For location: {'BELFAST': 0, 'BIRMINGHAM': 1, 'BOLTON': 2, 'BRIGHTON': 3, 'BRISTOL': 4, 'CAMBRIDGE': 5, 'CARDIFF': 6, 'GLASGOW': 7, 'LEEDS': 8, 'LEICESTER': 9, 'LIVERPOOL': 10, 'LONDON': 11, 'MANCHESTER': 12, 'OXFORD': 13, 'SOUTHAMPTON': 14, 'UNKNOWN': 15}
Integer Encoding For title: {' COMP  MATH FACULTY': 0, 'ADJUNCT FACULTY  ': 1, 'FACULTY': 2, 'FACULTY ': 3, 'FACULTY  ': 4, 'FACULTY   ': 5, 'FACULTY    COMP LIT': 6, 'FACULTY    COMP LIT FACULTY': 7, 'FACULTY   ADMIN': 8, 'FACULTY  TRAINEE': 9, 'FACULTYBUSINESS HR  ADMIN': 10, 'GRADUATE TRAINEE': 11}
Integer Encoding For highest_qualification_level: {'BACHELOR': 0, 'DOCTORATE': 1, 'MASTERS': 2, 'PHD': 3, 'UNKNOWN': 4}
Integer Encoding For criteria: {'CERTIFICATION': 0, 'INDUSTRY  TEACHING EXPERIENCE': 1, 'RESEARCHER': 2, 'TRAINEE': 3}

## **Reviewing the Dataset**

In [217]:
# print(df.to_string())
print(df.to_string())

            id                    name  location grade  title  join_date       type  division        reports_to  highest_qualification_level                          major                                                         university                                       courses_taught_term_201510                                                                                   major_teaching_field                                                                                           other_professional_certificate  criteria
0    LT9210743              Jim Hunter        11    FA      4 2010-08-29  FULL TIME  BUSINESS       Abbas Houda                            2          INTERNATIONAL AFFAIRS                                      AMERICAN UNIVERSITY OF BEIRUT                             [BUS2403, BUS2003, LSG2013, BUS1003]                                                                                BUSINESS ADMINISTRATION                              10 Years Business 10 Years 10 Years Corporate Business Training 8 Years Teaching Experience         1
1    LT9001784              Jose Nadal        11    FA      4 1999-08-19  FULL TIME  BUSINESS       Abbas Houda                            2       BUSINESS INFO TECHNOLOGY                                          UNIVERSITY OF NORTHUMBRIA                             [BUS4173, BUS4916, BUS4163, BUS4133]                                                                                               BUSINESS                                       teaching experience 17                  years professional experience Professional         0
2    LT9062955           Pierre Cornet        11    FA      4 2007-04-08  FULL TIME  BUSINESS       Abbas Houda                            2                      MARKETING                                                GRIFFITH UNIVERSITY                                               [BUS3903, BUS1303]                                                                    MARKETING AND STRATEGIC MANAGEMENT                                                                     teaching experience 15\nYears professional experience         1
5    LT9329000             Bill Lister        10    FA      4 2015-08-10  FULL TIME  BUSINESS       Abbas Houda                            1        BUSINESS ADMINISTRATION                                            SWISS MANAGEMENT CENTER                             [BUS3103, BUS1303, BUS4543, BUS2103]                                                                                                UNKNOWN                                                                                                                  UNKNOWN         1
6    LT9308851            Phil Woodley        10    FA      8 2015-03-08  FULL TIME  BUSINESS       Abbas Houda                            2          HEALTH ADMINISTRATION                                               UNIVERSITY OF OTTAWA                             [BUS2403, BUS2303, BUS1303, BUS2103]                                                                                                UNKNOWN                                                                                                                  UNKNOWN         1
7    LT9231337          Terry Hamilton        10    FA      4 2011-08-14  FULL TIME  BUSINESS       Abbas Houda                            1                       BUSINESS                                          LYCEUM OF THE PHILIPPINES                             [BUS4956, BUS3903, BUS1403, BUS4543]                                                               BUSINESS MANAGEMENT CORPORATE GOVERNANCE                                                                                             11 years teaching experience         1
8    LT9280242               Raj Patel        10    FA      4 2014-02-02  FULL TIME  BUSINESS       Abbas Houda                            2                       BUSINESS                                        THE UNIVERSITY OF NEWCASTLE                                      [BUS3103, BUS2203, BUS2913]                                                                          GENERAL BUSINESS  HOSPITALITY          7 years Teaching Training experience 10 years Professional Management experience Hospitality Teaching Certified         1
9    LT9053151              Houda Musa        10    FA      4 2011-03-20  FULL TIME  BUSINESS       Abbas Houda                            0           BUSINESS ADM GENERAL                                          UNIVERSITY COLLEGE LONDON                                                        [BUS4956]                                                                                              BUSINESS                                                                                                  Taught business semester         1
10   LT9305239            Ralph Mellor        10    FA      4 2014-11-12  FULL TIME  BUSINESS       Abbas Houda                            2    PUBLIC ADMIN  PUBLIC POLICY                                               UNIVERSITY OF LONDON                                               [BUS4373, BUS3203]                                                                   BUSINESS ADMINISTRATION AND STRATEGY                                                  18 years teaching experience Education 17 years professional management         1
11   LT9330949              Max Patley        10    FA      4 2015-09-27  FULL TIME  BUSINESS       Abbas Houda                            3                        UNKNOWN                                                  NAGPUR UNIVERSITY                                               [BUS4373, BUS3203]                                                                                                UNKNOWN                                                                                                                  UNKNOWN         1
12   LT9283220          Seth Ripperton        10    FA      4 2014-08-17  FULL TIME  BUSINESS       Abbas Houda                            1   COMMERCE  MANAGEMENT STUDIES                                                   ANDHRA UNIVESITY                                               [BUS4956, BUS4533]                                     BUSINESS MANAGEMENT HUMAN RESOURCE MANAGEMENT MARKETING MANAGEMENT                                                                                 teaching experience corporate experience         1
13   LT9278625             Jane Peters        10    FA      4 2013-08-18  FULL TIME  BUSINESS       Abbas Houda                            2        BUSINESS ADMINISTRATION                                               UNIVERSITY OF IBADAN                                      [BUS3103, BUS1203, BUS1303]                                                                                               BUSINESS                                                                                             experience 6 months teaching         1
14   LT9000017              Ishraq Ali        10    FA      4 2012-08-26  FULL TIME  BUSINESS       Abbas Houda                            2         GENERAL BUSINESS ADMIN                                             THE UNIVERSITY OF HULL                                               [BUS2003, BUS2913]                                               MASTERS IN  GENERAL BUSINESS ADMIN BACHELOR  INECONOMICS                      27 years Business teaching experience Education Teaching 8 years Professional Management Experience         1
15   LT9001326              Jack Kloss        10    FA      4 1997-08-14  FULL TIME  BUSINESS       Abbas Houda                            2          PUBLIC ADMINISTRATION                                           UNIVERSITY OF BIRMINGHAM                                      [BUS3003, BUS1003, BUS1303]                                                                                BUSINESS ADMINISTRATION                                                                                   More than 17 years teaching experience         1
16   LT9216378              Rob Nestor        10    FA      4 2011-02-02  FULL TIME  BUSINESS       Abbas Houda                            2                       BUSINESS                                         UNIVERSITY OF KWAZULUNATAL                                      [BUS4143, BUS4123, BUS1503]                                                                            ACCOUNTING GENERAL BUSINESS                                                                16 years industry experience 20 years teaching experience         1
17   LT9303928            Delroy Smith        10    FA      4 2014-09-21  FULL TIME  BUSINESS       Abbas Houda                            1                      ECONOMICS                                                UNIVERSITYOF KERALA                             [BUS2203, BUS3003, BUS1403, BUS4513]                                                                           ECONOMICS GENERAL MANAGEMENT                                                   Teaching Experience More than 15 years Professional experience 7 years         2
18   LT9251383            Harry Distel        10    FA      4 2012-08-26  FULL TIME  BUSINESS       Abbas Houda                            2             BUSINESS EDUCATION                                         FRIEDRICHSCHILLERUNIV JENA                                      [BUS2303, BUS3406, BUS4113]                                                                 BUSINESS MANAGEMENT FINANCE ACCOUNTING                                                                                             15 years teaching experience         1
19   LT9280999         Ludmilla Sirnov        10    FA      1 2015-08-23  FULL TIME  BUSINESS       Abbas Houda                            4                        UNKNOWN                                                            UNKNOWN                                               [BUS3903, BUS1403]                                                                     BUSINESS ADMINISTRATION MANAGEMENT                                                    15 years professional education business 5  years teaching experience         1
20   LT9305042            Imran Afridi        10    FA      4 2014-10-12  FULL TIME  BUSINESS       Abbas Houda                            1                        FINANCE                                     MOHAMMAD ALI JINNAH UNIVERSITY                                      [BUS2203, BUS4153, BUS1503]                                                                             BUSINESS ECONOMICS FINANCE                                                       8 Years teaching experience 3 Years experience training experience         1
21   LT9002264              Vish Singh        10    FA      1 2015-08-23  FULL TIME  BUSINESS           UNKNOWN                            2      HUMAN RESOURCE MANAGEMENT                                           CHARLES STURT UNIVERSITY                                                          UNKNOWN                                                                                                UNKNOWN                                                                                                                  UNKNOWN         1
22   LT9329002                Mo Abdul        10    FA      4 2015-08-09  FULL TIME  BUSINESS           UNKNOWN                            2      HUMAN RESOURCE MANAGEMENT                                           THE UNIVERSITY OF BOLTON                                                          UNKNOWN                                                                                                UNKNOWN                                                                                                                  UNKNOWN         1
25   LT9284483             Alvin Ryder        12    FA      4 2014-04-15  FULL TIME  BUSINESS        Ian Varley                            2        COMMERCE AND ACCOUNTING                                                UNIVERSITY OF DELHI                                      [LSS2103, BUS4163, BUS4133]                                    ACCOUNTING  FINANCE INVESTMENT MANAGEMENT  BUSINESS  CORPORATE LAWS                                              28 years corporate experience 8 years teaching experience 18 years teaching         1
26   LT9303960            Chris Kotler        12    FA      4 2014-09-22  FULL TIME  BUSINESS        Ian Varley                            2                  EXECUTIVE MBA                                                    RMIT UNIVERSITY                                      [BUS3406, BUS2003, LSS2103]                                                                            LAW BUSINESS ADMINISTRATION                                                                                     Teaching 9 years teaching experience         0
27   LT9299279        Merlyn Fernandes        12    FA      4 2014-08-17  FULL TIME  BUSINESS        Ian Varley                            2      HUMAN RESOURCE MANAGEMENT                                              BHARATHIAR UNIVERSITY                                      [BUS3003, BUS3406, BUS1303]                                                                               MANAGEMENT HRM MARKETING                                                          Certified Hospitality experience education experience Corporate         1
28   LT9304864           Justina Kelly        12    FA      4 2014-09-28  FULL TIME  BUSINESS        Ian Varley                            1                     PSYCHOLOGY                                                UNIVERSITYOF KERALA                             [LSS2533, BUS3406, BUS1203, BUS3203]                                                                                BUSINESS ADMINISTRATION                                                                                   certified 15 years teaching experience         1
29   LT9305872            Mariam Ahmed        12    FA      4 2015-01-18  FULL TIME  BUSINESS        Ian Varley                            2               LABOR MANAGEMENT                                             SNDT WOMENS UNIVERSITY                                      [LSM1003, BUS3406, BUS1103]                                                                                                UNKNOWN                                                                                                                  UNKNOWN         1
30   LT9281224             Donald West        12    FA      4 2013-11-04  FULL TIME  BUSINESS        Ian Varley                            2         INTERNATIONAL BUSINESS                                           UNIVERSITY OF WOLLONGONG                             [LSS2533, BUS3903, BUS3406, BUS1203]                                                                              BUSINESS ADMINSTRATIONHRM                         Certificate Training Professional Professional Certificate More than 7 years teaching experience         1
31   LT9237572          Richard Baynor        12    FA      4 2012-03-11  FULL TIME  BUSINESS        Ian Varley                            2        BUSINESS ADMINISTRATION                                       LOYOLA UNIVERSITY OF CHICAGO                                      [LSM1003, BUS1103, BUS1403]                                                              FINANCE ECONOMICS  INTERNATIONAL BUSINESS                                                                              Certificate Teaching Certificate Management         1
32   LT9251121          Juila Demetris        12    FA      4 2012-08-26  FULL TIME  BUSINESS        Ian Varley                            2         LEADERSHIP  MANAGEMENT                                                  BRENAU UNIVERSITY                    [BUS2403, BUS3406, BUS4573, CSD2023, CSD2102]                                                                     BUSINESS ADMINSTRATION  LEADERSHIP                                                                                  Certificate 9 years teaching experience         1
33   LT9251119             Rick Salter        12    FA      4 2012-08-26  FULL TIME  BUSINESS        Ian Varley                            1                       COMMERCE                                         UNIVERSITY OF SOUTH AFRICA                                      [BUS3103, LSM1003, BUS2103]                                                        BUSINESS ADMINISTRATION SUPPLY CHAIN MANAGEMENT                                                                                             14 years teaching experience         1
34   LT9284377             Jake Fisher        12    FA     10 2014-04-06  FULL TIME  BUSINESS        Ian Varley                            2            BUSINESS MANAGEMENT                                          THE UNIVERSITY OF WARWICK                                               [BUS2933, LSS2103]                                                                   INTERNAL BUSINESS STRATEGY MARKETING                                                                 Industry experience 10 years Teaching experience 5 years         1
35   LT9285255        Claudette Pierce        12    FA      4 2014-06-01  FULL TIME  BUSINESS        Ian Varley                            2                     MANAGEMENT                                                UNIVERSITY OF KEELE                                               [BUS3103, BUS2403]                                                                                    BUSINESS MANAGEMENT                                                                            25 years teaching experience Member Education         1
36   LT9216320             Mark Morrow        12    FA      4 2011-01-30  FULL TIME  BUSINESS        Ian Varley                            2        INTERNATIONAL MARKETING                                                SYDDANSK UNIVERSITY                             [BUS4533, BUS3406, BUS1203, BUS1303]                                                                                INTERNATIONAL MARKETING                                                                                             17 years teaching experience         1
37   LT9254788          Piers Southley        12    FA      4 2012-09-12  FULL TIME  BUSINESS        Ian Varley                            2       INTERNATIONAL MANAGEMENT                                       THUNDERBIRD SCHOFGLOBAL MGMT                                      [LSH2203, BUS4563, BUS3203]                                            INTERNATIONAL MANAGEMENT AND INTERNATIONAL BRAND MANAGEMENT                                                                11 years teaching experience 20 years industry experience         1
38   LT9211421           Malik Owabare        12    FA      4 2011-09-01  FULL TIME  BUSINESS        Ian Varley                            1   EBUSINESS POLICY DEVELOPMENT                                             DE MONTFORT UNIVERSITY                    [BUS2303, CSD2033, BUS3406, BSD2067, BUS2103]                                                                                   EBUSINESS MANAGEMENT                                                                                              9 years teaching experience         1
39   LT9003154           Roger Watkins        12    FA      4 2013-11-04  FULL TIME  BUSINESS        Ian Varley                            2             QUALITY MANAGEMENT                                           UNIVERSITY OF WOLLONGONG                                      [BUS4583, LSH2203, BUS3406]                                                                                     QUALITY MANAGEMENT                                                                                             24 years teaching experience         1

In [218]:
df.to_csv('cleaned_SIS_faculty_list.csv', index=False)